::ng-deep {
  .ant-layout-header {
    background-color: transparent;
    border-bottom: 1px solid #51515147;

    .user-infor, .btn-logout {
        transition: all ease 0.3s;
        cursor: pointer;
        color: #ccc;

        &:hover {
            opacity: 0.6;
        }
    }
  }
}
