<nz-layout style="min-height: 100vh">
  <nz-header class="header d-flex justify-content-between">
    <div class="header-logo d-flex align-items-center gap-2 h-100">
      <i nz-icon nzType="appstore" nzTheme="outline" class="logo-icon"></i>
      <div class="d-flex flex-column h-100 justify-content-center gap-2">
        <div class="fs-5 fw-bold text-primary">Device Check</div>
        <span style="font-size: 12px">Hệ thống kiểm tra thiết bị</span>
      </div>
    </div>
    <div class="header-actions d-flex gap-4">
      <div class="user-infor d-flex align-items-center">
        <i class="me-1 bi bi-person"></i>
        <span>{{ user.firstName }} {{ user.lastName }}</span>
      </div>
      <div class="actions">
        <i (click)="auth.logout()" class="btn-logout bi bi-box-arrow-right"></i>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider
      class="px-3 py-4"
      nzCollapsible
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
    >
      <div class="logo"></div>
      <ul
        class="menu-navigation"
        [class]="isCollapsed ? 'text-center' : 'text-left'"
        nz-menu
        nzTheme="dark"
        nzMode="inline"
      >
        <li
          style="color: var(--text-primary); cursor: pointer"
          class="d-flex align-items-center gap-3 menu-item"
          [class]="isCollapsed ? 'justify-content-center' : ''"
          nz-menu-item
          [routerLink]="['/device-check']"
          routerLinkActive="ant-menu-item-selected"
        >
          <i class="bi bi-phone fs-5"></i>
          <div *ngIf="!isCollapsed">Danh sách thiết bị</div>
        </li>
      </ul>
      <div
        class="sidebar-footer d-flex flex-column gap-3 align-items-center justify-content-end"
      >
        <span style="border: 1px solid var(--text-primary);" class="menu-item" (click)="isCollapsed = !isCollapsed">
          <i
            *ngIf="isCollapsed; else expand"
            class="bi bi-arrow-bar-right"
            style="cursor: pointer; font-size: 18px"
          ></i>
          <ng-template #expand>
            <i
              class="bi bi-arrow-bar-left"
              style="cursor: pointer; font-size: 18px"
            ></i>
          </ng-template>
        </span>
        <app-theme-toggle></app-theme-toggle>
      </div>
    </nz-sider>
    <nz-content style="padding: 16px 32px">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
