<app-breadcrumb></app-breadcrumb>
<div class="list-toolbar my-3">
  <h3 style="color: var(--text-primary);" class="fw-bold">Danh sách thiết bị</h3>
  <button nz-button nzType="primary" (click)="onAddUpdate()">
    <i class="bi bi-plus-lg"></i>
    Thêm mới
  </button>
</div>

<div class="mb-3 w-100 d-flex justify-content-between">
  <div class="search-container">
    <nz-input-group class="search-box" [nzPrefix]="suffixIconSearch">
      <input
        [(ngModel)]="deviceNameSearch"
        (blur)="onSearch()"
        (keyup.enter)="onSearch()"
        nz-input
        placeholder="Tìm kiếm thiết bị ..."
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i class="bi bi-search text-muted"></i>
    </ng-template>
  </div>
  <!-- <div class="view-mode-toggle">
    <button
      nz-button
      nzType="text"
      [ngClass]="{ active: viewMode === 'grid' }"
      (click)="setView('grid')"
    >
      <span nz-icon nzType="appstore"></span>sdfsdf
    </button>

    <button
      nz-button
      nzType="text"
      [ngClass]="{ active: viewMode === 'list' }"
      (click)="setView('list')"
    >
      <span nz-icon nzType="unordered-list"></span>sdfsdf
    </button>
  </div> -->

  <nz-pagination
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzTotal]="total"
    [nzShowSizeChanger]="true"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
  >
  </nz-pagination>
</div>
<ng-container *ngIf="devices.length; else noData">
  <nz-row [nzGutter]="16">
    <nz-col
      [nzXs]="24"
      [nzSm]="viewMode === 'grid' ? 12 : 24"
      [nzMd]="viewMode === 'grid' ? 12 : 24"
      [nzLg]="viewMode === 'grid' ? 8 : 24"
      class="mb-4"
      *ngFor="let d of devices"
    >
      <nz-card class="device-card h-100">
        <div class="card-header">
          <div class="title">
            <div class="title-icon text-center">
              <i class="bi bi-phone"></i>
            </div>
            <div>
              <h3>
                {{ (d.deviceName || "Chưa cập nhật").toLocaleUpperCase() }}
              </h3>
              <span>{{ getLabelModel(d.model) }}</span>
            </div>
          </div>

          <nz-tag [nzColor]="getTypeColor(d.finalSummary || null)">
            {{ getTypeLabel(d.finalSummary) }}
          </nz-tag>
        </div>

        <div class="card-body m-0 p-0">
          <div class="card-info">
            <div>
              <i class="bi bi-cpu"></i>{{ d.totalRam || "Chưa cập nhật" }}
            </div>
            <div>
              <i class="bi bi-hdd"></i>{{ d.storage || "Chưa cập nhật" }}
            </div>
            <div>
              <i class="bi bi-calendar4"></i>{{ formatDate(d.updatedDate) }}
            </div>
            <div>
              <i class="bi bi-currency-dollar"></i>{{ getPrice(d.price) }}
            </div>
          </div>

          <div class="check">
            <nz-tag *ngIf="d.osVersion">{{ d.osVersion }}</nz-tag>
            <nz-tag *ngIf="d.type">{{ d.type }}</nz-tag>
          </div>

          <p class="desc">
            {{ d.summary || "Không có mô tả" }}
          </p>
        </div>

        <div class="actions">
          <button nz-button nzType="primary" (click)="onAddUpdate(d.id)">
            <i class="bi bi-pen me-2"></i>
            Sửa
          </button>
          <button nz-button nzType="default" nzDanger nzGhost>
            <i class="bi bi-trash3 me-2 text-danger"></i>
            <span class="text-danger">Xóa</span>
          </button>
        </div>
      </nz-card>
    </nz-col>
  </nz-row>
</ng-container>

<ng-template #noData>
  <div
    class="d-flex flex-column align-items-center justify-content-center text-white"
  >
    <i style="font-size: 56px" class="text-muted bi bi-search mb-3"></i>
    <div class="fs-3 fw-bold" style="color: #40c4ff">
      Không tìm thấy kết quả
    </div>
    <span class="text-muted">Vui lòng thử lại</span>
  </div>
</ng-template>
