<div class="list-toolbar">
  <nz-input-group class="search-box" [nzPrefix]="suffixIconSearch">
    <input
      [(ngModel)]="deviceNameSearch"
      (blur)="onSearch()"
      (keyup.enter)="onSearch()"
      nz-input
      placeholder="Tìm kiếm thiết bị ..."
    />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i class="bi bi-search text-muted"></i>
  </ng-template>

  <button nz-button nzType="primary" (click)="onAddUpdate()">Thêm mới</button>
</div>

<div class="mb-3 w-100 d-flex justify-content-between">
  <h2 class="text-white">Danh sách thiết bị</h2>
  <nz-pagination
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzTotal]="total"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
  >
  </nz-pagination>
</div>
<ng-container *ngIf="devices.length; else noData">
  <nz-row [nzGutter]="16">
    <nz-col nzSpan="8" class="mb-4" *ngFor="let d of devices">
      <nz-card class="device-card h-100">
        <div class="card-header">
          <div class="title">
            <div class="title-icon text-center">
              <i class="bi bi-phone"></i>
            </div>
            <div>
              <h3>{{ d.deviceName }}</h3>
              <span>{{ d.model }}</span>
            </div>
          </div>

          <nz-tag [nzColor]="getTypeColor(d.finalSummary || null)">
            {{ getTypeLabel(d.finalSummary) }}
          </nz-tag>
        </div>

        <div class="card-info">
          <div><i class="bi bi-cpu"></i>{{ d.totalRam }}</div>
          <div><i class="bi bi-hdd"></i>{{ d.storage }}</div>
          <div>
            <i class="bi bi-calendar4"></i>{{ formatDate(d.updatedDate) }}
          </div>
          <div>
            <i class="bi bi-currency-dollar"></i>{{ getPrice(d.price) }}
          </div>
        </div>

        <div class="check">
          <nz-tag *ngIf="d.osVersion">{{ d.osVersion }}</nz-tag>
          <nz-tag *ngIf="d.type">{{ d.type }}</nz-tag>
        </div>

        <p class="desc">
          {{ getSummary(d) }}
        </p>

        <nz-divider></nz-divider>

        <div class="actions">
          <button nz-button nzType="primary" (click)="onAddUpdate(d.id)">
            <i class="bi bi-pen me-2"></i>
            Sửa
          </button>
          <button nz-button nzType="primary" nzDanger nzGhost>
            <i class="bi bi-trash3 me-2"></i>
            Xóa
          </button>
        </div>
      </nz-card>
    </nz-col>
  </nz-row>
</ng-container>

<ng-template #noData>
  <div
    class="d-flex flex-column align-items-center justify-content-center text-white"
  >
    <i style="font-size: 56px" class="bi bi-search mb-3"></i>
    <div class="fs-3 fw-bold" style="color: #40c4ff">
      Không tìm thấy kết quả
    </div>
    <span>Vui lòng thử lại</span>
  </div>
</ng-template>
