<app-breadcrumb></app-breadcrumb>
<div class="list-toolbar my-3">
  <h3 style="color: var(--text-primary)" class="fw-bold">Danh sách vận chuyển</h3>
</div>

<app-table-custom [columns]="columns" [data]="shipments" [pageIndex]="pageIndex" [pageSize]="pageSize" [total]="total"
  [defaultSort]="defaultSort" (search)="onSearch($event)" [actionTemplate]="actionTpl"
  (pageIndexChange)="onPageIndexChange($event)" (pageSizeChange)="onPageSizeChange($event)">
</app-table-custom>

<ng-template #actionTpl let-row>
  <div class="d-flex align-items-center justify-content-center gap-3">
    <span class="action-icon cursor-pointer" style="color: #1890ff" nz-tooltip nzTooltipTitle="Chi tiết">
      <span nz-icon nzType="eye"></span>
    </span>
    <span *ngIf="row.status === 'sent'" class="action-icon cursor-pointer" style="color: #52c41a" nz-tooltip
      nzTooltipTitle="Đánh dấu đã nhận" (click)="onReceive(row)">
      <span nz-icon nzType="check-circle"></span>
    </span>
  </div>
</ng-template>