<div class="login-wrapper">
  <div class="login-header">
    <i nz-icon nzType="appstore" nzTheme="outline" class="logo-icon"></i>
    <div class="header-title d-flex flex-column text-center mb-2">
      <div class="fs-4 fw-bold logo-text">Device Check</div>
      <span>Hệ thống kiểm tra thiết bị</span>
    </div>
  </div>
  <div class="login-card">
    <form nz-form [formGroup]="form" (ngSubmit)="submit()">
      <nz-form-item class="mb-3">
        <label class="w-100 mb-1 text-primary">Tài khoản</label>
        <nz-form-control
          nzErrorTip="Vui lòng nhập tài khoản"
          [nzValidateStatus]="form.controls.phone"
        >
          <nz-input-group class="p-2" [nzPrefix]="prefixTemplateUser">
            <input class="py-2" nz-input placeholder="Tài khoản" formControlName="phone" />
            <ng-template #prefixTemplateUser
              ><i class="text-muted" nz-icon nzType="user"></i
            ></ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control
          nzErrorTip="Vui lòng nhập mật khẩu"
          [nzValidateStatus]="form.controls.password"
        >
          <label class="w-100 mb-1 text-primary">Mật khẩu</label>
          <nz-input-group
            class="p-2"
            [nzPrefix]="prefixTemplateLock"
            [nzSuffix]="suffixTemplate"
          >
            <input class="py-2"
              nz-input
              [type]="passwordVisible ? 'text' : 'password'"
              placeholder="Mật khẩu"
              formControlName="password"
            />
            <ng-template #suffixTemplate>
              <i
                nz-icon
                class="text-muted"
                [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"
              ></i>
            </ng-template>
            <ng-template #prefixTemplateLock
              ><i class="bi bi-lock text-muted"></i></ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button class="py-2" nz-button nzType="primary" nzBlock>Đăng nhập</button>
    </form>

    <div class="card-footer d-flex justify-content-center gap-3">
      <span><i class="bi bi-bar-chart me-2"></i>Kiểm tra nhanh</span>
      <span><i class="bi bi-shield me-2"></i>Bảo mật cao</span>
    </div>
  </div>
  <div class="login-footer my-4 d-flex flex-column gap-3 align-items-center justify-content-center">
    <span>© 2025 Device Check System. All rights reserved.</span>
    <app-theme-toggle></app-theme-toggle>
  </div>
</div>
