.wizard-container {
  max-width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap; // Responsive
}

.steps-section {
  flex: 2;
  min-width: 300px;
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.summary-section {
  flex: 1;
  min-width: 400px;
  padding: 24px;
  height: fit-content;
  position: sticky;
  top: 20px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
  // background: rgba(15, 22, 36, 0.45);
  background: #fff;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  // border: 1px solid rgba(100, 160, 220, 0.18);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .summary-box {
    border-radius: 16px;
    padding: 16px;
    border: 2px dashed #e4e4e4;
  }
}

.step-function-list {
  max-height: 450px;
  overflow-y: scroll;
}

.progress-bar {
  background-color: transparent;
  color: #fff;
}

.steps-content {
  margin-bottom: 40px;
}

.steps-action {
  text-align: right;
}

:host ::ng-deep {
  .ant-progress-inner {
    background-color: #e4e4e4 !important;
  }

  .ant-progress-text {
    color: #000;
  }

  .ant-modal-body {
    padding-top: 12px !important;
  }

  .ant-btn {
    padding: 8px 24px !important;
  }

  .ant-progress-line {
    & > .ng-star-inserted {
      width: 100%;
    }

    .ant-progress-steps-item {
      border-radius: 16px;
    }
  }
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1.5px solid #8d9dc1 !important;
  font-size: 16px;
  background-color: #fff !important;
  color: #000 !important;
  height: 40px !important;
  padding: 4px 24px !important;
  border-radius: 16px !important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .wizard-container {
    flex-direction: column;
  }

  .summary-section {
    position: static;
  }
}

::ng-deep .ant-progress-steps {
  display: flex;
  width: 100%;
}

::ng-deep .ant-progress-steps-item {
  flex: 1;
  margin-right: 4px;
}

::ng-deep .ant-progress-steps-item:last-child {
  margin-right: 0;
}
