/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sarabun", sans-serif;
}

.ant-btn {
  height: auto !important;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #0091ea;
  background-color: transparent;
  color: #0091ea;
  transition: all ease 0.3s;
}

.ant-btn-primary {
  background: linear-gradient(135deg, #5dd1ff, #00a0ff);
  color: #fff;
  border-color: transparent;
  transition: all ease 0.3s;

  &:hover {
    background: linear-gradient(45deg, #5dd1ff, #00a0ff);
    transition: all ease 0.3s;
  }
}

.ant-input-group-wrapper {
  width: 100%;
}

.ant-input-group,
.ant-input-affix-wrapper {
  border: 1.5px solid #8d9dc1 !important;
  border-radius: 16px !important;
  padding: 2px 16px !important;
  // box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all ease 0.3s;

  &:hover,
  &:focus,
  &.ant-input-affix-wrapper-focused {
    // box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.2),
    //   0 0 0 2px rgba(64, 196, 255, 0.15);
    outline: 1px solid #00a0ff !important;
  }
}

.ant-select.ant-select-selector,
.ant-input {
  background: transparent !important;
  border: none !important;
  color: #000 !important;
  font-size: 16px;

  &::placeholder {
    color: rgba(90, 90, 90, 0.5) !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}

.ant-input-prefix {
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
}

.ant-pagination-item,
.ant-pagination-item-link,
.ant-pagination-item a {
  border-color: #00a0ff !important;
  background-color: transparent !important;
  color: #00a0ff !important;
  border-radius: 8px !important;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &.ant-pagination-item-active {
    background-color: #00a0ff;
    color: #fff;
  }
}

.ant-pagination-item-ellipsis {
  color: #00a0ff !important;
}

.ant-pagination-item-link[disabled] {
  opacity: 0.6;
}

.ant-upload-list-picture-card .ant-upload-list-item-thumbnail,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
  object-fit: cover !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  // background: #1a2133 !important;
  border: 1px solid #00a0ff !important;
  color: #00a0ff !important;
  // color: rgba(255, 255, 255, 0.9) !important;
  font-size: 16px;
  height: 40px !important;
  padding: 4px 24px !important;
  border-radius: 16px !important;
  // box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
}

.ant-select-arrow {
  color: #00a0ff !important;
}

.text-primary {
  color: #40c4ff !important;
}
